# ignore backup files
*.bak
*~
# ignore build directories
build-*/
# ignore binary directories (input zip files and the compiled libraries)
lib/
zips
# ignore library source files
STM8*_StdPeriph_Lib/
STM8*_StdPeriph_Driver/
